mixin intro(data)
    +el({
        tag: 'article',
        class: 'intro',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        +el({
            class: 'intro__wrapper',
        })
            +el({
                class: 'intro__text-container',
            })
                +el({
                    tag: 'h1',
                    class: 'intro__heading',
                    text: 'RIzor <br>Hovertrax <br>4.0',
                })
                +el({
                    class: 'intro__subheading',
                    text: 'Маневренность, легкость, <br>экологичность',
                })
            +el({
                class: 'intro__image-container',
            })
                +el({
                    tag: 'img',
                    class: 'intro__image',
                    src: 'index01.jpg',
                })
