.content__wrapper {
  @include wrapper;
}

.content__block {
  margin-bottom: 64px;
  &:last-of-type {
    margin-bottom: 0;
  }
}

.content__heading {
  margin-bottom: 40px;
}

@include respond-to(medium) {
  .content__block {
    margin-bottom: 150px;
  }
}

@include respond-to(large) {
  .content__block {
    margin-bottom: 200px;
  }
}
