.content {
  padding-top: 40px;
  padding-bottom: 40px;
}

.content__wrapper {
  @include wrapper;
}

.content__section {
  margin-bottom: 40px;
}

.content__heading {
  margin-bottom: 40px;
}

@include respond-to(medium) {
  .content {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .content__section {
    margin-bottom: 60px;
  }
}

@include respond-to(large) {
  .content {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .content__section {
    margin-bottom: 80px;
  }
}
