.content__wrapper {
  @include wrapper;
}

.content__section {
  margin-bottom: 64px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

@include respond-to(medium) {
  .content__section {
    margin-bottom: 250px;
  }
}

@include respond-to(large) {
  .content__section {
    margin-bottom: 290px;
  }
}
