@mixin wrapper {
  padding-left: pads(small);
  padding-right: pads(small);

  @include respond-to(medium) {
    padding-left: pads(medium);
    padding-right: pads(medium);
  }

  @include respond-to(large) {
    padding-left: pads(large);
    padding-right: pads(large);
  }

  @include respond-to(large-lg) {
    width: breakpoints(large-lg);
    margin: 0 auto;
  }
}
