include ./el.pug
include ./head.pug
include ./scripts.pug

include ../blocks/button/button.pug
include ../blocks/button-nav/button-nav.pug
include ../blocks/button-remove/button-remove.pug
include ../blocks/logo/logo.pug
include ../blocks/main-nav/main-nav.pug
include ../blocks/header/header.pug
include ../blocks/overlay/overlay.pug
include ../blocks/intro/intro.pug
include ../blocks/features/features.pug
include ../blocks/list/list.pug
include ../blocks/design/design.pug
