include ./include

block vars
    - var pageTitle = 'Title'
    - var main = false

doctype html
html(lang='ru')
    block head
        +head()

    body
        block icons
        block header
            +header({})
        block intro
        block content
        block footer
        block scripts
            +scripts()
