mixin features(data)
    +el({
        tag: 'article',
        class: 'features',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        +el({
            class: 'features__wrapper',
        })
            +el({
                tag: 'h2',
                class: 'features__heading',
                text: 'Преимущества',
            })
            +feature-design({
                mix: 'features__item features__item--design'
            })
