mixin features(data)
    +el({
        tag: 'article',
        class: 'features',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        +el({
            class: 'features__wrap',
        })
            +el({
                tag: 'h2',
                class: 'features__heading',
                text: 'Преимущества',
            })
            +design({
                mix: 'features__item features__item--design'
            })
            +color({
                mix: 'features__item features__item--color'
            })
            +indicators({
                mix: 'features__item features__item--indicators'
            })
            +mode({
                mix: 'features__item features__item--mode'
            })
