body,
p {
  font-family: font(primary);
  font-size: 14px;
  line-height: 1.4;
  font-style: normal;
  font-weight: 300;
  color: color(text);
}

@for $i from 1 through 6 {
  h#{$i} {
    margin-top: 0;
    margin-bottom: get($heading-styles, small, h#{$i}, mb);
    font-family: font(primary);
    font-size: get($heading-styles, small, h#{$i}, fs);
    font-style: normal;
    font-weight: get($heading-styles, small, h#{$i}, fw);
    line-height: get($heading-styles, small, h#{$i}, lh);
    color: color(heading);
  }
}

p,
ul,
ol,
blockquote {
  margin-top: 0;
  margin-bottom: 14px;
}

b,
strong {
  font-weight: 600;
}

ul,
ol {
  padding-left: 32px;

  li {
    margin-bottom: 4px;
  }
}

ul {
  list-style-type: square;
}

blockquote {
  position: relative;
  padding-left: 16px;
  margin-left: 0;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    bottom: 5px;
    width: 4px;
    background-color: color(primary);
  }
}

@include respond-to(medium) {
  body,
  p {
    font-size: 15px;
  }

  p,
  ul,
  ol,
  blockquote {
    margin-bottom: 15px;
  }

  ul,
  ol {
    li {
      margin-bottom: 6px;
    }
  }

  blockquote {
    padding-left: 20px;

    &::before {
      top: 5px;
      bottom: 5px;
      width: 4px;
    }
  }

  @for $i from 1 through 6 {
    h#{$i} {
      margin-bottom: get($heading-styles, medium, h#{$i}, mb);
      font-size: get($heading-styles, medium, h#{$i}, fs);
    }
  }
}

@include respond-to(large) {
  body,
  p {
    font-size: 16px;
  }

  p,
  ul,
  ol,
  blockquote {
    margin-bottom: 16px;
  }

  @for $i from 1 through 6 {
    h#{$i} {
      margin-bottom: get($heading-styles, large, h#{$i}, mb);
      font-size: get($heading-styles, large, h#{$i}, fs);
    }
  }
}
