body {
  color: color(black);
  font-family: font(primary);
  font-size: 16px;
  line-height: 1.5;
  font-style: normal;
  font-weight: 300;
}

@for $i from 1 through 6 {
  h#{$i} {
    margin-top: 0;
    margin-bottom: get($heading-styles, small, h#{$i}, mb);
    font-size: get($heading-styles, small, h#{$i}, fs);
    font-style: normal;
    font-weight: get($heading-styles, small, h#{$i}, fw);
    line-height: get($heading-styles, small, h#{$i}, lh);
    color: inherit;
  }
}

h1,
h3 {
  font-family: font(secondary);
}

h2,
h4,
h5,
h6 {
  font-family: font(primary);
}

p,
ul,
ol,
blockquote {
  margin-top: 0;
  margin-bottom: 12px;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  font-style: inherit;
  font-weight: inherit;
}

b,
strong {
  font-weight: 600;
}

ul,
ol {
  padding-left: 32px;

  li {
    margin-bottom: 12px;
  }
}

ul {
  list-style-type: square;
}

blockquote {
  position: relative;
  padding-left: 16px;
  margin-left: 0;

  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 5px;
    bottom: 5px;
    width: 4px;
    background-color: color(primary);
  }
}

@include respond-to(medium) {
  @for $i from 1 through 6 {
    h#{$i} {
      margin-bottom: get($heading-styles, medium, h#{$i}, mb);
      font-size: get($heading-styles, medium, h#{$i}, fs);
    }
  }
}

@include respond-to(large) {
  body,
  p {
    font-size: 18px;
  }

  p,
  ul,
  ol,
  blockquote {
    margin-bottom: 14px;
  }

  ul,
  ol {
    padding-left: 34px;

    li {
      margin-bottom: 14px;
    }
  }

  @for $i from 1 through 6 {
    h#{$i} {
      margin-bottom: get($heading-styles, large, h#{$i}, mb);
      font-size: get($heading-styles, large, h#{$i}, fs);
    }
  }
}
