mixin advantages(data)
    +el({
        tag: 'ul',
        class: 'advantages',
        mix: data.mix,
        mod: data.mod,
        js: data.js,
    })&attributes(attributes)
        each item in data.items
            +el({
                tag: 'li',
                class: 'advantages__item',
            })
                +el({
                    class: 'advantages__main',
                    text: item.main,
                })
                +el({
                    class: 'advantages__sub',
                    text: item.sub,
                })
