.feature-design {

}

.feature-design__image-container {
  display: none;
}

.feature-design__image {

}

@include respond-to(medium) {
  .feature-design {
    position: relative;
    padding-top: 190px;
  }

  .feature-design__image-container {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    transform: translateX(calc(-100% - 70px));
    display: block;
    height: 600px;
  }

  .feature-design__image {
    display: block;
    height: 600px;
    max-width: none;
  }
}

@include respond-to(large) {
  .feature-design {
    padding-top: 200px;
    padding-right: 400px;
  }

  .feature-design__image-container {
    transform: translateX(calc(-100% - 100px));
    height: 750px;
  }

  .feature-design__image {
    height: 750px;
  }
}
