mixin logo(data)
    +el({
        tag: 'a',
        class: 'logo',
        mod: data.mod,
        mix: data.mix,
        js: data.js,
        href: main == true ? 'none' : 'index.html',
        title: main == true ? data.title : 'Вернуться на главную страницу',
    })&attributes(attributes)
        +el({
            tag: 'img',
            class: 'logo__image',
            src: 'logo.png',
            width: '156',
            height: '39',
            alt: 'logo',
        })
